@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.stylish {
    font-family: 'Lobster', cursive;
}

.quicktext {
    font-family: 'Quicksand', sans-serif;
}

.fira {
    font-family: 'Fira Code', monospace;
}

